body {
	padding: 100;
	background-color: #6B62C2;
	color: #e6e6fa;
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 4em;
	text-align: center;
	letter-spacing: 1px;
	font-weight: 200;
	margin: auto;
}

h2 {
	text-align: center;
	font-weight: 300;
}

.shipmoji {
	display: inline-block;
	text-align: left;
	font-family: 'Source Code Pro', monospace;
	white-space: pre;
	font-size: 1em;
}

.shipmoji-container {
	text-align: center;
	width: 40%;
	margin: 0 auto;
	background-color: #776ec4;
	border: thin solid #e6e6fa;
	border-radius: .2em;
	padding: 15;
}
